.complete-purchase__button{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}