@import url(./variables.css);

.header__menu{
    height: 33.33vh;
    background-color: var(--color-green);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
}

.header__image{
    width: 100px;
    height: 100px;
}

.header__title{
    font-weight: 200;
    font-size: var(--font-title);
    color: var(--color-white);
}