:root{
    --color-black: #0F0F0F;
    --color-white : #E2E2E2;
    --color-green: #048B63;
    --color-red: #AC0404;
    --color-grey: #5C5C5C;
    --font-title: 24px;
    --font-subtitle: 16px;
    --font-text: 14px;
}